# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/
*.code-workspace

# JetBrains IDEs
.idea/
*.iml
*.iws

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Outputs and logs
outputs/
logs/
*.log

# Virtual Environment
venv/
env/
.env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

wandb/

results/
figures/
data/
*.slurm